header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #000dbe;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #003478;
}