body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 10px 10px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #1351d8;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #003478;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b3571;
    color: #fff;
    padding: 10px 40px;
}

.redesSociais {
    display: flex;
    gap: 15px;
}

.redesSociais p {
    margin: 5px 0;
}

.redesSociais img,
.logo_footer img {
    height: 30px;
    transition: transform 0.3s ease;
}

.redesSociais img:hover {
    transform: scale(1.1);
}

.copyright p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 20px;
    }

    header nav ul {
        gap: 15px;
        margin-top: 15px;
    }

    footer {
        flex-direction: row;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }
    .redesSociais p {
        display: none;
    }

    .redesSociais img,
    .logo_footer img {
        height: 25px;
    }

    .copyright p {
        font-size: 8px;
        line-height: 1.4;
        max-width: 88%;
        margin: 0 auto;
    }
}