.texto_promocional {
    flex: 0 0 300px;
    padding-right: 20px;
}

.texto_promocional p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 20px 100px;
    text-align: justify;
}

.video_promocional {
    flex: 1;
    min-width: 0;
}

.video_promocional iframe {
    width: 90%;
    height: 500px;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 8px 8px rgb(58, 67, 70);
}

.tabelaCarros {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.veiculo-card {
    width: 250px;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}

.veiculo-card img {
    width: 100%;
    height: auto;
}

.veiculoInformacao {
    display: flex;
    align-items: flex-start;
}

.veiculoInformacao input[type="checkbox"] {
    width: 30px;
    height: 30px;
    min-width: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 10px 0 0;
    position: relative;
    flex-shrink: 0;
}

.veiculoInformacao img {
    width: 20px;
    margin-top: auto;
    vertical-align: bottom;
}

.texto-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.veiculoInformacao h5 {
    margin: 0;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #1351d8;
}

.veiculoInformacao p {
    margin: 0;
    font-size: 11px;
    text-align: left;
    color: #000;
}

.submit-botao {
    background-color: #1351d8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;
}

.submit-botao:hover {
    background-color: #00274C;
    color: #fff;
    transform: translateY(-2px);
}